@use 'sass:math';
@use 'variables' as *;

@mixin fade-in($Xdistance: 5rem, $Ydistance: 0rem) {
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translate($Xdistance, $Ydistance);
    }
    90% {
      opacity: 0.8;
      transform: translate(math.div(-$Xdistance, 12), math.div(-$Ydistance, 90));
    }
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: $bp-phone-px) {
      @content;
    }
  } @else if $breakpoint == tab-port {
    @media only screen and (max-width: $bp-tab-port-px) {
      @content;
    }
  } @else if $breakpoint == tab-land {
    @media only screen and (max-width: $bp-tab-land-px) {
      @content;
    }
  } @else if $breakpoint == big-desktop {
    @media only screen and (min-width: $bp-big-desktop-px) {
      @content;
    }
  }
}
