$main-font: 'Montserrat', sans-serif;
$bouncing-animation: linear(
  0,
  0.001,
  0.004,
  0.009,
  0.016,
  0.024,
  0.035,
  0.048,
  0.063,
  0.079,
  0.098 11.4%,
  0.141,
  0.191,
  0.25,
  0.317,
  0.391,
  0.473,
  0.563,
  0.66,
  0.765,
  0.879,
  1,
  0.941,
  0.891,
  0.848 43.2%,
  0.829,
  0.813,
  0.798,
  0.785,
  0.774,
  0.766,
  0.759,
  0.754,
  0.751,
  0.75,
  0.751,
  0.754,
  0.759,
  0.766,
  0.774,
  0.785,
  0.798,
  0.813,
  0.829,
  0.848 65.9%,
  0.891,
  0.941,
  1 72.7%,
  0.985,
  0.973,
  0.962,
  0.953,
  0.946,
  0.941,
  0.938 80.7% 83%,
  0.941,
  0.946,
  0.953,
  0.962,
  0.973,
  0.985,
  1,
  0.993,
  0.988,
  0.985,
  0.984,
  0.985,
  0.988,
  0.993,
  1
);
