@use './abstracts/variables' as *;
@use './abstracts/properties';

:root {
  --main-padding: 4rem;
  --main-font-size: 1.6rem;
  --color-primary-rgb: var(--color-primary-r), var(--color-primary-g), var(--color-primary-b);
  --color-primary: rgb(var(--color-primary-rgb));

  --color-secondary-rgb:
    var(--color-secondary-r), var(--color-secondary-g), var(--color-secondary-b);
  --color-secondary: rgb(var(--color-secondary-rgb));

  --color-tertiary-rgb: var(--color-tertiary-r), var(--color-tertiary-g), var(--color-tertiary-b);
  --color-tertiary: rgb(var(--color-tertiary-rgb));

  --color-contrast-rgb: var(--color-contrast-r), var(--color-contrast-g), var(--color-contrast-b);
  --color-contrast: rgb(var(--color-contrast-rgb));

  --color-quaternary-rgb:
    var(--color-quaternary-r), var(--color-quaternary-g), var(--color-quaternary-b);
  --color-quaternary: rgb(var(--color-quaternary-rgb));
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100svh;
  overflow: hidden;
  background: linear-gradient(to bottom right, var(--color-secondary), var(--color-primary));
  font-family: $main-font;
  padding: var(--main-padding);
  font-size: var(--main-font-size);
  background-color: rgb(var(--color-secondary-rgb));
}

button {
  cursor: pointer;
}

button,
p,
textarea,
h1 {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  outline: inherit;
}
