@use './abstracts/variables' as *;

// :root {
// }

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $main-font;
}

button {
  cursor: pointer;
}

button,
p,
textarea,
h1 {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  outline: inherit;
}
