@use './abstracts/variables' as *;

:root {
  --main-padding: 4rem;
  --main-font-size: 1.6rem;
  --color-primary: thistle;
  --color-secondary: #ffdfd3;
  --color-tertiary: #dd7788;
  --color-contrast: #1c1c1c;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100svh;
  overflow: hidden;
  background: linear-gradient(to bottom, var(--color-secondary), white);
  font-family: $main-font;
  padding: var(--main-padding);
  font-size: var(--main-font-size);
}

button {
  cursor: pointer;
}

button,
p,
textarea,
h1 {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  outline: inherit;
}
