@use './abstracts/variables' as *;
@use './abstracts/properties';
@use './abstracts/mixins' as *;

:root {
  --main-padding: 4rem;
  --main-font-size: 1.6rem;
  --header-font-size: 3rem;
  --box-width: 60rem;
  --item-aligning: baseline;
  --output-aligning: flex-end;

  @include respond(phone) {
    --main-font-size: 1.4rem;
    --header-font-size: 2.4rem;
    --box-width: 30rem;
    --main-padding: 2rem;
    --item-aligning: center;
    --output-aligning: center;
  }

  --color-primary-rgb: var(--color-primary-r), var(--color-primary-g), var(--color-primary-b);
  --color-primary: rgb(var(--color-primary-rgb));

  --color-secondary-rgb:
    var(--color-secondary-r), var(--color-secondary-g), var(--color-secondary-b);
  --color-secondary: rgb(var(--color-secondary-rgb));

  --color-tertiary-rgb: var(--color-tertiary-r), var(--color-tertiary-g), var(--color-tertiary-b);
  --color-tertiary: rgb(var(--color-tertiary-rgb));

  --color-contrast-rgb: var(--color-contrast-r), var(--color-contrast-g), var(--color-contrast-b);
  --color-contrast: rgb(var(--color-contrast-rgb));

  --color-quaternary-rgb:
    var(--color-quaternary-r), var(--color-quaternary-g), var(--color-quaternary-b);
  --color-quaternary: rgb(var(--color-quaternary-rgb));

  --color-quinary-rgb: var(--color-quinary-r), var(--color-quinary-g), var(--color-quinary-b);
  --color-quinary: rgb(var(--color-quinary-rgb));
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  min-height: 100svh;
  width: 100svw;
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(to bottom right, var(--color-secondary), var(--color-primary));
  font-family: $main-font;
  padding: var(--main-padding);
  font-size: var(--main-font-size);
}

button {
  cursor: pointer;
}

button,
p,
textarea,
h1 {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  outline: inherit;
}

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-tertiary);
  border-radius: 0.8rem;
  border: 3px solid transparent;
  background-clip: content-box;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: color-mix(in srgb, var(--color-tertiary) 80%, #000 20%);
}
